# https://www.freedesktop.org/software/systemd/man/latest/systemd.exec.html

[Unit]
Description=Website Backend (Green)
After=network.target network-online.target
Requires=network-online.target

[Service]
Type=simple
Restart=always
User=ubuntu
WorkingDirectory=/home/ubuntu/website
ExecStart=/home/ubuntu/website/website-green
PrivateTmp=true
ProtectSystem=full

# Allow high number of concurrent connections (increase file descriptor limit)
LimitNOFILE=65535

Environment=PORT=8081
Environment=SERVER_HOSTNAME=georgewitteman.com
Environment=RUST_LOG=info

[Install]
WantedBy=multi-user.target
