{% extends "layout.njk" %}

{% block title %}Random UUID - {{ super() }}{% endblock %}

{% block head %}
<script type="module" src="/js/amazon-short-link.js"></script>
{% endblock %}

{% block content %}
<form id="form">
  <label>
    Long URL<br />
    <input
      type="text"
      name="long_url"
      id="long_url"
      autofocus=""
      placeholder="https://www.amazon.com/gp/product/B07PWC32ZD/ref=ox_sc_act_title_14?smid=A294P4X9EWVXLJ&amp;psc=1"
      class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
    />
    <button id="paste_url" type="button" class="h-10 px-6 font-semibold rounded-md bg-black text-white">Paste</button>
    <button id="paste_copy_url" type="button" class="h-10 px-6 font-semibold rounded-md border border-slate-200 text-slate-900">Paste &amp; Copy</button>
  </label>
  <p>
    Short URL<br />
    <output for="form" id="short_url"></output>
    <button id="copy_short_url" type="button" style="display: none">
      Copy
    </button>
  </p>
  <p>
    Shortish URL<br />
    <output for="form" id="shortish_url"></output>
    <button id="copy_shortish_url" type="button" style="display: none">
      Copy
    </button>
  </p>
</form>
{% endblock %}
