{% import "macros.njk" as macros %}

{% extends "layout.njk" %}

{% macro link(href, text) %}
<a class="text-blue-800 underline hover:no-underline" href="{{ href }}">{{ text }}</a>
{% endmacro %}

{% block content %}
<h1 class="font-bold text-xl">Test Template</h1>
<p>{{ hello }}{{ world }}</p>

{{ macros.field("test") }}
{% endblock %}
