{% import "macros.njk" as macros %}
<link rel="stylesheet" href="/output.css">

<h1 class="text-blue-800 font-bold text-xl">Test Template</h1>
<p>{{ hello }}{{ world }}</p>

{{ macros.field("test") }}
