/*
Inspiration
- https://sakofchit.github.io/system.css
- https://codedgar.github.io/Puppertino/
- https://khang-nd.github.io/7.css/
- https://design-system.service.gov.uk/
- https://designsystem.digital.gov/
*/

/* RESET (https://github.com/Andy-set-studio/modern-css-reset) */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* END RESET */

/* https://github.com/andybrewer/mvp/blob/master/mvp.css */
:root {
  --color-background: #fff;
  --color-text: #202124;
  --color-link: #1a0dab;
  --color-link-visited: #681da8;
  --line-height: 1.5;
  --border-radius: 5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #202124;
    --color-text: #e8eaed;
    --color-link: #8ab4f8;
    --color-link-visited: #c58af9;
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-size: 1em;
  line-height: var(--line-height);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
  color: var(--color-link);
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.1);
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: var(--color-link-visited);
}

.monospace {
  font-family: monospace;
}

.mw-page {
  max-width: 50rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-auto {
  overflow: auto;
}

.overflow-y-auto {
  overflow-y: auto;
}

/* Tables */
.table {
  display: block;
  max-width: 100%;
  overflow-x: auto;
}

.table td,
.table th,
.table tr {
  padding: 0.4rem 0.8rem;
}

.table th {
  background-color: grey;
  color: #fff;
}

.table tr:nth-child(even) {
  background-color: #118bee15;
}
