body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;

  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    Noto Sans,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
  line-height: 1.5;
}

.text-xs {
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
}

.text-sm {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}

.text-base,
.text-md {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
}

.text-lg {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
}

.text-xl {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}

.text-2xl {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
}

.text-3xl {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
}

.text-4xl {
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem; /* 40px */
}

.text-5xl {
  font-size: 3rem; /* 48px */
  line-height: 1;
}

.text-6xl {
  font-size: 3.75rem; /* 60px */
  line-height: 1;
}

.text-7xl {
  font-size: 4.5rem; /* 72px */
  line-height: 1;
}

.text-8xl {
  font-size: 6rem; /* 96px */
  line-height: 1;
}

.text-9xl {
  font-size: 8rem; /* 128px */
  line-height: 1;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.header {
  position: sticky;
  top: 0;

  font-size: 0.875rem;
  line-height: 1.25rem;

  background-color: #404040;
  color: #eee;
}

.header-nav {
  margin: 0 auto;
  max-width: 70rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 0.5rem;
}

.header-logo {
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin: 0;
  padding: 0;
}

.header-logo-link {
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  padding: 1rem;
  display: block;
}

.header-nav-ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  padding-right: 0.25rem;
}

.header-nav-li {
  display: flex;
  align-items: center;
}

.header-nav-link {
  text-decoration: none;
  color: #eee;
  padding: 1rem 0.75rem;
  display: block;
}

.header-nav-link-active {
  color: #fff;
}

.header-nav-link:hover {
  color: #fff;
}

.main {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 70rem;
}

.code {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.hidden {
  display: none;
}
