{% extends "layout.html.jinja" %}

{% block content %}
  <ul>
    <li>
      <a class="link" href="/microwave-time-calculator.html"
        >Microwave Time Calculator</a
      >
    </li>
    <li>
      <a class="link" href="/google-account-links.html"
        >Generate Google App Links for Specific Accounts</a
      >
    </li>
    <li>
      <a class="link" href="/username.html">Random User Name Generator</a>
    </li>
    <li>
      <a class="link" href="/quoted-printable.html">quoted-printable decoder</a>
    </li>
    <li>
      <a class="link" href="/icloud-private-relay"
        >iCloud Private Relay Checker</a
      >
    </li>
    <li><a class="link" href="mailto:george@witteman.me">Email me</a></li>
    <li>
      <a class="link" href="https://www.linkedin.com/in/georgewitteman"
        >Linkedin</a
      >
    </li>
    <li><a class="link" href="http://github.com/georgewitteman">GitHub</a></li>
  </ul>
{% endblock %}
