{% extends "layout.html" %}

{% block content %}
<ul>
  <li><a class="text-blue-800 hover:underline" href="/microwave-time-calculator.html">Microwave Time Calculator</a></li>
  <li><a class="text-blue-800 hover:underline" href="/google-short-link.html">Shorten Google Search Links</a></li>
  <li><a class="text-blue-800 hover:underline" href="/amazon-short-link">Generate Amazon Short Links</a></li>
  <li><a class="text-blue-800 hover:underline" href="/google-account-links.html">Generate Google App Links for Specific
      Accounts</a></li>
  <li><a class="text-blue-800 hover:underline" href="/username.html">Random User Name Generator</a></li>
  <li><a class="text-blue-800 hover:underline" href="mailto:george@witteman.me">Email me</a></li>
  <li><a class="text-blue-800 hover:underline" href="https://www.linkedin.com/in/georgewitteman">Linkedin</a></li>
  <li><a class="text-blue-800 hover:underline" href="http://github.com/georgewitteman">GitHub</a></li>
</ul>
{% endblock %}
