<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}George Witteman{% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="author" content="George Witteman" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/styles.css" />
    {% block head %}
    {% endblock %}
  </head>

  <body>
    <header class="header">
      <nav class="header-nav">
        <h1 class="header-logo"><a href="/" class="header-logo-link">GW</a></h1>
        <ul class="header-nav-ul">
          <li class="header-nav-li">
            <a
              class="header-nav-link {% if path == "/uuid" %}header-nav-link-active{% endif %}"
              href="/uuid"
              >UUID</a
            >
          </li>
          <li class="header-nav-li">
            <a
              class="header-nav-link {% if path == "/echo" %}header-nav-link-active{% endif %}"
              href="/echo"
              >Echo</a
            >
          </li>
          <li class="header-nav-li">
            <a class="header-nav-link" href="/link-cleaner.html"
              >Link Cleaner</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <main class="main">
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>
