{% extends "layout.html.jinja" %}

{% block title %}Random UUID - {{ super() }}{% endblock %}

{% block head %}
  <script type="module" src="/js/uuid.js"></script>
{% endblock %}

{% block content %}
  <code id="code">{{ value }}</code>
{% endblock %}
