name: rollback

on:
  workflow_dispatch:

permissions:
  # This is required for requesting the JWT for OIDC
  id-token: write
  # Required for actions/checkout
  contents: read

jobs:
  rollback:
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          # https://github.com/georgewitteman/terraform/blob/main/aws_iam.tf
          role-to-assume: arn:aws:iam::866631827662:role/GitHubActionsOIDC
          aws-region: us-west-2
          mask-aws-account-id: false

      - name: Rollback
        run: ./scripts/rollback.sh
